<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-12-06T15:58:46Z</date>
	<key>WorkspacePath</key>
	<string>/Users/guilhermeprofissional/Documents/GitHub/ilia-ios-challenge/Desafio 3 - Moya/Desafio 3(CII-3).xcworkspace</string>
</dict>
</plist>
